.vuesaxLinearUserCirlceAdd.vuesaxLinearUserCirlceAdd {
  left: 40px;
  top: 584px;
}
.icon {
  width: 100%;
  height: 100%;
}
.vuesaxLinearNotification2.vuesaxLinearNotification2 {
  left: 41.4769px;
  top: 520px;
  width: 26.2154px;
}
.vuesaxLinearNotification.vuesaxLinearNotification {
  width: 26.2154px;
}
.vuesaxLinearNotification {
  width: 26.2154px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.vuesaxLinearSpeedometer2.vuesaxLinearSpeedometer2 {
  left: 41.4769px;
  top: 200px;
  width: 26.2154px;
}
.vuesaxLinearSpeedometer.vuesaxLinearSpeedometer {
  width: 26.2154px;
}
.vuesaxLinearSpeedometer {
  width: 26.2154px;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.vuesaxLinearProfile2user2.vuesaxLinearProfile2user2 {
  left: 41.4769px;
  top: 392px;
  width: 26.2154px;
}
.vuesaxLinearProfile2user.vuesaxLinearProfile2user {
  width: 26.2154px;
}
.vuesaxLinearProfile2user {
  width: 26.2154px;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.vuesaxLinearCalendar2.vuesaxLinearCalendar2 {
  left: 41.4769px;
  top: 328px;
  width: 26.2154px;
}
.vuesaxLinearCalendar.vuesaxLinearCalendar {
  width: 26.2154px;
}
.vuesaxLinearCalendar {
  width: 26.2154px;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.vuesaxLinearSearchStatus2.vuesaxLinearSearchStatus2 {
  left: 41.4769px;
  top: 264px;
  width: 26.2154px;
}
.vuesaxLinearSearchStatus.vuesaxLinearSearchStatus {
  width: 26.2154px;
}
.vuesaxLinearSearchStatus {
  width: 26.2154px;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.vuesaxLinearMessageQuestion.vuesaxLinearMessageQuestion {
  left: 40px;
  top: 1024px;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.vuesaxLinearAdd.vuesaxLinearAdd {
  left: 208px;
  top: 120px;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.blackIconSetArrowDownSLine.blackIconSetArrowDownSLine {
  left: 1872px;
  right: initial;
  top: 44px;
  bottom: initial;
  width: 24px;
  height: 24px;
}
.path3858.path3858 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: visible;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.vuesaxLinearSetting2.vuesaxLinearSetting2 {
  left: 1544px;
  top: 44px;
}
.icon10 {
  width: 100%;
  height: 100%;
}
.vuesaxLinearLogout.vuesaxLinearLogout {
  left: 1600px;
  top: 44px;
}
.icon11 {
  width: 100%;
  height: 100%;
}
.vuesaxLinearSearchNormal.vuesaxLinearSearchNormal {
  left: 1488px;
  top: 44px;
}
.icon12 {
  width: 100%;
  height: 100%;
}
.vuesaxLinearNotification3.vuesaxLinearNotification3 {
  left: 72.3958%;
  right: 26.3542%;
  top: 1.5385%;
  bottom: 96.6154%;
  width: initial;
  height: initial;
}
.icon13 {
  width: 100%;
  height: 100%;
}
.blackIconSetArrowLeftSLine.blackIconSetArrowLeftSLine {
  left: 352px;
  right: initial;
  top: 44px;
  bottom: initial;
  width: 24px;
  height: 24px;
}
.path3902.path3902 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: visible;
}
.icon14 {
  width: 100%;
  height: 100%;
}
.blackIconSetArrowLeftSLine2.blackIconSetArrowLeftSLine2 {
  left: 368px;
  right: initial;
  top: 252px;
  bottom: initial;
  width: 24px;
  height: 24px;
}
.path39022.path39022 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: visible;
}
.icon15 {
  width: 100%;
  height: 100%;
}
.vuesaxLinearFatrows.vuesaxLinearFatrows {
  left: 96.25%;
  right: 2.5%;
  top: 36.9231%;
  bottom: 61.2308%;
  width: initial;
  height: initial;
}
.icon16 {
  width: 100%;
  height: 100%;
}
.vuesaxLinearKey.vuesaxLinearKey {
  left: 1644px;
  top: 608px;
}
.icon17 {
  width: 100%;
  height: 100%;
}
.blackIconSetHistoryLine.blackIconSetHistoryLine {
  left: 1644px;
  right: initial;
  top: 672px;
  bottom: initial;
  width: 24px;
  height: 24px;
}
.path4105.path4105 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: visible;
}
.icon18 {
  width: 100%;
  height: 100%;
}
.blackIconSetDonutChartLine.blackIconSetDonutChartLine {
  left: 1644px;
  right: initial;
  top: 736px;
  bottom: initial;
  width: 24px;
  height: 24px;
}
.path488.path488 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: visible;
}
.icon19 {
  width: 100%;
  height: 100%;
}
.vuesaxLinearLocationTick.vuesaxLinearLocationTick {
  left: 940px;
  top: 480px;
}
.icon20 {
  width: 100%;
  height: 100%;
}
.vuesaxLinearMap.vuesaxLinearMap {
  left: 372px;
  top: 672px;
}
.icon21 {
  width: 100%;
  height: 100%;
}
.blackIconSetDirectionLine.blackIconSetDirectionLine {
  left: 372px;
  right: initial;
  top: 736px;
  bottom: initial;
  width: 24px;
  height: 24px;
}
.path2978.path2978 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: visible;
}
.icon22 {
  width: 100%;
  height: 100%;
}
.blackIconSetShareLine.blackIconSetShareLine {
  left: 372px;
  right: initial;
  top: 800px;
  bottom: initial;
  width: 24px;
  height: 24px;
}
.path4293.path4293 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: visible;
}
.icon23 {
  width: 100%;
  height: 100%;
}
.vuesaxLinearSms.vuesaxLinearSms {
  left: 570px;
  top: 968px;
}
.icon24 {
  width: 100%;
  height: 100%;
}
.vuesaxLinearNoteFavorite.vuesaxLinearNoteFavorite {
  left: 372px;
  top: 864px;
}
.icon25 {
  width: 100%;
  height: 100%;
}
.blackIconSetArrowLeftSLine3.blackIconSetArrowLeftSLine3 {
  transform-origin: top left;
  left: 1868px;
  right: initial;
  top: 252px;
  bottom: initial;
  width: 24px;
  height: 24px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.path39023.path39023 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: visible;
}
.icon26 {
  width: 100%;
  height: 100%;
}
.vuesaxLinearBuilding4.vuesaxLinearBuilding4 {
  left: 46.8229%;
  right: 51.9271%;
  top: 36.3077%;
  bottom: 61.8462%;
  width: initial;
  height: initial;
}
.icon27 {
  width: 100%;
  height: 100%;
}
.vuesaxLinearCar.vuesaxLinearCar {
  left: 66.3542%;
  right: 32.3958%;
  top: 36.3077%;
  bottom: 61.8462%;
  width: initial;
  height: initial;
}
.icon28 {
  width: 100%;
  height: 100%;
}
.vuesaxLinearHome2.vuesaxLinearHome2 {
  left: 72.2917%;
  right: 26.4583%;
  top: 36.3077%;
  bottom: 61.8462%;
  width: initial;
  height: initial;
}
.icon29 {
  width: 100%;
  height: 100%;
}
.vuesaxLinearFormatSquare.vuesaxLinearFormatSquare {
  left: 78.4375%;
  right: 20.3125%;
  top: 36.3077%;
  bottom: 61.8462%;
  width: initial;
  height: initial;
}
.icon30 {
  width: 100%;
  height: 100%;
}
.root {
  position: relative;
  width: 1920px;
  height: 1300px;
  align-items: flex-start;
  background-color: #f5f6fa;
  overflow: hidden;
}
.inviteEarn {
  color: #555b67;
  font-size: 16px;
  line-height: 24px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 3.75%;
  right: 91.4063%;
  top: 44.9231%;
  bottom: 53.2308%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle2455 {
  position: absolute;
  left: 24px;
  top: 568px;
  width: 260px;
  height: 56px;
  border-radius: 8px;
  background-color: #fff;
}
.vector {
  position: absolute;
  left: 1.25%;
  right: 97.5%;
  top: 2.4615%;
  bottom: 95.6923%;
  overflow: visible;
}
.icon31 {
  width: 100%;
  height: 100%;
}
.vector2 {
  position: absolute;
  left: 2.5%;
  right: 96.25%;
  top: 4.3077%;
  bottom: 93.8462%;
  overflow: visible;
}
.icon32 {
  width: 100%;
  height: 100%;
}
.vector3 {
  position: absolute;
  left: 2.5%;
  right: 96.25%;
  top: 2.4615%;
  bottom: 95.6923%;
  overflow: visible;
}
.icon33 {
  width: 100%;
  height: 100%;
}
.vector4 {
  position: absolute;
  left: 1.25%;
  right: 97.5%;
  top: 4.3077%;
  bottom: 93.8462%;
  overflow: visible;
}
.icon34 {
  width: 100%;
  height: 100%;
}
.rectangle24552 {
  position: absolute;
  left: 24px;
  top: 504px;
  width: 284px;
  height: 56px;
  border-radius: 8px;
  background-color: #fff;
}
.notifications {
  color: #555b67;
  font-size: 16px;
  line-height: 24px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 3.9808%;
  right: 90.6715%;
  top: 40%;
  bottom: 58.1538%;
  height: min-content;
  flex-direction: column;
}
.rectangle24553 {
  position: absolute;
  left: 24px;
  top: 184px;
  width: 284px;
  height: 56px;
  border-radius: 8px;
  background-color: #fff;
}
.dashboard {
  color: #555b67;
  font-size: 16px;
  line-height: 24px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 3.9808%;
  right: 91.2973%;
  top: 15.3846%;
  bottom: 82.7692%;
  height: min-content;
  flex-direction: column;
}
.rectangle24554 {
  position: absolute;
  left: 24px;
  top: 440px;
  width: 284px;
  height: 56px;
  border-radius: 8px;
  background-color: #fff;
}
.mLSLists {
  color: #555b67;
  font-size: 16px;
  line-height: 24px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 3.9808%;
  right: 92.2075%;
  top: 35.0769%;
  bottom: 63.0769%;
  height: min-content;
  flex-direction: column;
}
.rectangle24555 {
  position: absolute;
  left: 24px;
  top: 376px;
  width: 284px;
  height: 56px;
  border-radius: 8px;
  background-color: #fff;
}
.myClients {
  color: #555b67;
  font-size: 16px;
  line-height: 24px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 3.9808%;
  right: 91.6386%;
  top: 30.1538%;
  bottom: 68%;
  height: min-content;
  flex-direction: column;
}
.rectangle2456 {
  position: absolute;
  left: 24px;
  top: 312px;
  width: 284px;
  height: 56px;
  border-radius: 8px;
  background-color: #fff;
}
.calendar {
  color: #555b67;
  font-size: 16px;
  line-height: 24px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 3.9808%;
  right: 92.0369%;
  top: 25.2308%;
  bottom: 72.9231%;
  height: min-content;
  flex-direction: column;
}
.rectangle24556 {
  position: absolute;
  left: 24px;
  top: 248px;
  width: 284px;
  height: 56px;
  border-radius: 8px;
  background-color: #fff;
}
.searchProperty {
  color: #555b67;
  font-size: 16px;
  line-height: 24px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 3.9808%;
  right: 89.1923%;
  top: 20.3077%;
  bottom: 77.8462%;
  height: min-content;
  flex-direction: column;
}
.helpDesk {
  color: #0f1c35;
  font-size: 16px;
  line-height: 24px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 3.75%;
  right: 92.3438%;
  top: 78.7692%;
  bottom: 19.3846%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.needHelp {
  color: #0f1c35;
  font-size: 18px;
  line-height: 24px;
  font-family: Gilroy-Medium, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 2.0833%;
  right: 92.9167%;
  top: 75.6923%;
  bottom: 22.4615%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle24557 {
  position: absolute;
  left: 24px;
  top: 104px;
  width: 260px;
  height: 56px;
  border-radius: 8px;
  background-color: #2e63f6;
}
.createNewTour {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 3.9583%;
  right: 89.5833%;
  top: 9.2308%;
  bottom: 88.9231%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.ellipse1 {
  position: absolute;
  left: 1656px;
  top: 32px;
  width: 48px;
  height: 48px;
  overflow: visible;
}
.icon35 {
  width: 100%;
  height: 100%;
}
.berkayErdinc {
  color: #22222d;
  font-size: 16px;
  line-height: 16px;
  font-family: Gilroy-Medium, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1712px;
  top: 36px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.hiBerkayerdincCom {
  color: #656b8a;
  font-size: 14px;
  line-height: 16px;
  font-family: Gilroy-Medium, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1712px;
  top: 60px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame1 {
  position: absolute;
  left: calc(50% - -450.5px);
  top: 1.2308%;
  bottom: 97.5385%;
  width: 15px;
  place-content: center;
  padding: 4px;
  border-radius: 8px;
  background-color: #2e63f6;
  transform: translateX(-50%);
}
._5 {
  color: #fff;
  font-size: 12px;
  line-height: 12px;
  font-family: Gilroy-Medium, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 73.2813%;
  right: 26.3542%;
  top: 1.3846%;
  bottom: 97.6923%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._2218ThornridgeCirE5579076 {
  position: absolute;
  left: 21.0417%;
  right: 61.875%;
  top: 3.3846%;
  bottom: 94.7692%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper {
  font-size: 24px;
  font-family: Gilroy-Medium, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #555b67;
  font-size: 24px;
  line-height: 24px;
  font-family: Gilroy-Medium, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label2 {
  color: #0f1c35;
  font-size: 24px;
  line-height: 24px;
  font-family: Gilroy-Medium, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.rectangle2470 {
  position: absolute;
  left: 340px;
  top: 32px;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background-color: #fff;
}
.rectangle2450 {
  position: absolute;
  left: 834px;
  top: 104px;
  width: 568px;
  height: 320px;
  border-radius: 8px;
  background-color: #fff;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle2450.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle2478 {
  position: absolute;
  left: 340px;
  top: 104px;
  width: 478px;
  height: 320px;
  border-radius: 8px;
  background-color: #fff;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle2478.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle24702 {
  position: absolute;
  left: 356px;
  top: 240px;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background-color: #fff;
}
.rectangle2479 {
  position: absolute;
  left: 1418px;
  top: 104px;
  width: 478px;
  height: 320px;
  border-radius: 8px;
  background-color: #fff;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle2479.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle2448 {
  position: absolute;
  left: 1612px;
  top: 456px;
  width: 284px;
  height: 400px;
  border-radius: 8px;
  background-color: #fff;
}
.frame6448 {
  position: absolute;
  left: 1840px;
  top: 472px;
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 8px;
  background-color: #f3f5f9;
}
.shortcuts {
  color: #0f1c35;
  font-size: 18px;
  line-height: 24px;
  font-family: Gilroy-Medium, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 84.7917%;
  right: 11.0938%;
  top: 36.9231%;
  bottom: 61.2308%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle2452 {
  position: absolute;
  left: 1628px;
  top: 656px;
  width: 252px;
  height: 56px;
  outline: solid 1px #555b6726;
  outline-offset: -1px;
  border-radius: 8px;
  background-color: #fff;
}
.propertyHistory {
  color: #555b67;
  font-size: 16px;
  line-height: 24px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 87.2917%;
  right: 6.5104%;
  top: 51.6923%;
  bottom: 46.4615%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle24522 {
  position: absolute;
  left: 1628px;
  top: 592px;
  width: 252px;
  height: 56px;
  border-radius: 8px;
  background-color: #2e63f6;
}
.keyFacts {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 87.2917%;
  right: 9.0104%;
  top: 46.7692%;
  bottom: 51.3846%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle24523 {
  position: absolute;
  left: 1628px;
  top: 720px;
  width: 252px;
  height: 56px;
  outline: solid 1px #555b6726;
  outline-offset: -1px;
  border-radius: 8px;
  background-color: #fff;
}
.demographics {
  color: #555b67;
  font-size: 16px;
  line-height: 24px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 87.2917%;
  right: 7.0313%;
  top: 56.6154%;
  bottom: 41.5385%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.pointsOfInterest {
  color: #555b67;
  font-size: 16px;
  line-height: 24px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 807px;
  top: 480px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle2335 {
  opacity: 0.2;
  transform-origin: top left;
  position: absolute;
  left: 847px;
  top: 480px;
  width: 40px;
  height: 24px;
  border-radius: 100px;
  background-color: #555b67;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.rectangle2336 {
  transform-origin: top left;
  position: absolute;
  left: 871px;
  top: 480px;
  width: 14px;
  height: 14px;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0px 10px 48px 0px #0000000a;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.notifySimilarProperties {
  color: #0f1c35;
  font-size: 15px;
  line-height: 24px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 881px;
  top: 480px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle2449 {
  position: absolute;
  left: 340px;
  top: 456px;
  width: 286px;
  height: 576px;
  border-radius: 8px;
  background-color: #fff;
}
.addList {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 28.3854%;
  right: 68.9063%;
  top: 36.9231%;
  bottom: 61.2308%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.mLSE5579076 {
  color: #0f1c35;
  font-size: 18px;
  line-height: 24px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 18.5417%;
  right: 74.6875%;
  top: 40.6154%;
  bottom: 57.5385%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.listedFor1549586 {
  position: absolute;
  left: 18.5417%;
  right: 73.6979%;
  top: 43.0769%;
  bottom: 55.0769%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper2 {
  font-size: 16px;
  font-family: Gilroy-Medium, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label3 {
  color: #555b67;
  font-size: 16px;
  line-height: 24px;
  font-family: Gilroy-Medium, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label4 {
  color: #2e63f6;
  font-size: 16px;
  line-height: 24px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.rectangle8 {
  opacity: 0.15;
  position: absolute;
  left: 356px;
  top: 472px;
  width: 152px;
  height: 40px;
  border-radius: 8px;
  background-color: #5eb182;
}
.forSale {
  color: #5eb182;
  font-size: 14px;
  line-height: 24px;
  font-family: Gilroy-Bold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 21.1458%;
  right: 76.0938%;
  top: 36.9231%;
  bottom: 61.2308%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._2118ThornridgeCirSyracuseConne {
  color: #0f1c35;
  font-size: 16px;
  line-height: 24px;
  font-family: Gilroy-Medium, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 18.5417%;
  right: 68.2292%;
  top: 45.5385%;
  bottom: 50.7692%;
  height: min-content;
  flex-direction: column;
}
.rectangle24524 {
  position: absolute;
  left: 356px;
  top: 656px;
  width: 254px;
  height: 56px;
  outline: solid 1px #555b6726;
  outline-offset: -1px;
  border-radius: 8px;
  background-color: #fff;
}
.viewOnMap {
  color: #555b67;
  font-size: 16px;
  line-height: 24px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 21.0417%;
  right: 74.0104%;
  top: 51.6923%;
  bottom: 46.4615%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle24525 {
  position: absolute;
  left: 356px;
  top: 720px;
  width: 254px;
  height: 56px;
  outline: solid 1px #555b6726;
  outline-offset: -1px;
  border-radius: 8px;
  background-color: #fff;
}
.getDirections {
  color: #555b67;
  font-size: 16px;
  line-height: 24px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 21.0417%;
  right: 73.4375%;
  top: 56.6154%;
  bottom: 41.5385%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle24526 {
  position: absolute;
  left: 356px;
  top: 784px;
  width: 254px;
  height: 56px;
  outline: solid 1px #555b6726;
  outline-offset: -1px;
  border-radius: 8px;
  background-color: #fff;
}
.share {
  color: #555b67;
  font-size: 16px;
  line-height: 24px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 21.0417%;
  right: 76.7188%;
  top: 61.5385%;
  bottom: 36.6154%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle2474 {
  position: absolute;
  left: 356px;
  top: 920px;
  width: 254px;
  height: 96px;
  border-radius: 8px;
  background-color: #f5f6fa;
}
.courtneyHenry {
  color: #0f1c35;
  font-size: 14px;
  line-height: 16px;
  font-family: Gilroy-Medium, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 19.375%;
  right: 75.3646%;
  top: 73.8462%;
  bottom: 24.9231%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._905524898277 {
  color: #555b67;
  font-size: 14px;
  line-height: 16px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 20.625%;
  right: 73.6458%;
  top: 75.6923%;
  bottom: 23.0769%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.turkeyTR {
  position: absolute;
  left: 19.375%;
  right: 79.7917%;
  top: 75.6923%;
  bottom: 23.0769%;
  border-radius: 100px;
  overflow: hidden;
}
.vector5 {
  position: absolute;
  left: 19.375%;
  right: 79.7917%;
  top: 75.6923%;
  bottom: 23.0769%;
  overflow: visible;
}
.icon36 {
  width: 100%;
  height: 100%;
}
.vector6 {
  position: absolute;
  left: 19.5192%;
  right: 80.0571%;
  top: 76.0195%;
  bottom: 23.3656%;
  overflow: visible;
}
.icon37 {
  width: 100%;
  height: 100%;
}
.vector7 {
  position: absolute;
  left: 19.6146%;
  right: 80.0467%;
  top: 76.081%;
  bottom: 23.4272%;
  overflow: visible;
}
.icon38 {
  width: 100%;
  height: 100%;
}
.vector8 {
  position: absolute;
  left: 19.9103%;
  right: 79.8958%;
  top: 76.1831%;
  bottom: 23.533%;
  overflow: visible;
}
.icon39 {
  width: 100%;
  height: 100%;
}
.myNotes {
  color: #555b67;
  font-size: 16px;
  line-height: 24px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 21.0417%;
  right: 75.4167%;
  top: 66.4615%;
  bottom: 31.6923%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.listingAgent {
  color: #555b67;
  font-size: 12px;
  line-height: 16px;
  font-family: Gilroy-Medium, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 19.375%;
  right: 76.875%;
  top: 72%;
  bottom: 26.7692%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle24527 {
  position: absolute;
  left: 356px;
  top: 848px;
  width: 252px;
  height: 56px;
  outline: solid 1px #555b6726;
  outline-offset: -1px;
  border-radius: 8px;
  background-color: #fff;
}
.rectangle24492 {
  position: absolute;
  left: 658px;
  top: 456px;
  width: 922px;
  height: 88px;
  border-radius: 8px;
  background-color: #fff;
}
.rectangle24703 {
  transform-origin: top left;
  position: absolute;
  left: 1880px;
  top: 240px;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background-color: #fff;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.propertyDetails {
  color: #0f1c35;
  font-size: 18px;
  line-height: 24px;
  font-family: Gilroy-Medium, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 35.5208%;
  right: 57.5521%;
  top: 37.5385%;
  bottom: 60.6154%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.keyFacts2 {
  color: #0f1c35;
  font-size: 18px;
  line-height: 24px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 40.1563%;
  right: 55.6771%;
  top: 44.9231%;
  bottom: 53.2308%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.details {
  color: #555b67;
  font-size: 18px;
  line-height: 24px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 56.8229%;
  right: 40.1563%;
  top: 44.9231%;
  bottom: 53.2308%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rooms {
  color: #555b67;
  font-size: 18px;
  line-height: 24px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 72.9167%;
  right: 24.1667%;
  top: 44.9231%;
  bottom: 53.2308%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.apartment {
  color: #555b67;
  font-size: 16px;
  line-height: 24px;
  font-family: Gilroy-Medium, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 45.3646%;
  right: 50.4687%;
  top: 38.7692%;
  bottom: 59.3846%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
._3Bedrooms {
  color: #555b67;
  font-size: 16px;
  line-height: 24px;
  font-family: Gilroy-Medium, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 51.6146%;
  right: 43.8542%;
  top: 38.7692%;
  bottom: 59.3846%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.laBed {
  position: absolute;
  left: 53.2292%;
  right: 45.5208%;
  top: 36.3077%;
  bottom: 61.8462%;
}
.icon40 {
  width: 100%;
  height: 100%;
}
._2Bathrooms {
  color: #555b67;
  font-size: 16px;
  line-height: 24px;
  font-family: Gilroy-Medium, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 58.2292%;
  right: 36.9271%;
  top: 38.7692%;
  bottom: 59.3846%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.phBathtub {
  position: absolute;
  left: 60%;
  right: 38.75%;
  top: 36.3077%;
  bottom: 61.8462%;
}
.icon41 {
  width: 100%;
  height: 100%;
}
._2Garage {
  color: #555b67;
  font-size: 16px;
  line-height: 24px;
  font-family: Gilroy-Medium, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 65.1563%;
  right: 31.1979%;
  top: 38.7692%;
  bottom: 59.3846%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
._1963SqFt {
  color: #555b67;
  font-size: 16px;
  line-height: 24px;
  font-family: Gilroy-Medium, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 70.8854%;
  right: 25%;
  top: 38.7692%;
  bottom: 59.3846%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.loremIpsumDolorSitAmetConsecte {
  color: #555b67;
  font-size: 16px;
  line-height: 32px;
  font-family: Gilroy-Medium, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 35.5208%;
  right: 18.9583%;
  top: 50.7692%;
  bottom: 44.3077%;
  height: min-content;
  flex-direction: column;
}
.possesion {
  color: #555b67;
  font-size: 16px;
  line-height: 16px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 35.5208%;
  right: 60.7292%;
  top: 83.9231%;
  bottom: 14.8462%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._5Day {
  color: #0f1c35;
  font-size: 16px;
  line-height: 16px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 78.8021%;
  right: 18.9583%;
  top: 83.9231%;
  bottom: 14.8462%;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle2483 {
  position: absolute;
  left: 682px;
  top: 1123px;
  width: 874px;
  max-width: 100%;
  height: 1px;
  max-height: 100%;
  border-radius: 8px;
  background-color: #555b6726;
}
.mLS {
  color: #555b67;
  font-size: 16px;
  line-height: 16px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 35.5208%;
  right: 62.3438%;
  top: 80.1538%;
  bottom: 18.6154%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.e5579076 {
  color: #0f1c35;
  font-size: 16px;
  line-height: 16px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 77.4479%;
  right: 18.9583%;
  top: 80.1538%;
  bottom: 18.6154%;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle24832 {
  position: absolute;
  left: 682px;
  top: 1074px;
  width: 874px;
  max-width: 100%;
  height: 1px;
  max-height: 100%;
  border-radius: 8px;
  background-color: #555b6726;
}
.size {
  color: #555b67;
  font-size: 16px;
  line-height: 16px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 35.5208%;
  right: 62.9167%;
  top: 68.8462%;
  bottom: 29.9231%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._15002000Feet2 {
  color: #0f1c35;
  font-size: 16px;
  line-height: 16px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 74.1667%;
  right: 18.9583%;
  top: 68.8462%;
  bottom: 29.9231%;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle24833 {
  position: absolute;
  left: 682px;
  top: 927px;
  width: 874px;
  max-width: 100%;
  height: 1px;
  max-height: 100%;
  border-radius: 8px;
  background-color: #555b6726;
}
.parking {
  color: #555b67;
  font-size: 16px;
  line-height: 16px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 35.5208%;
  right: 61.5625%;
  top: 72.6154%;
  bottom: 26.1538%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.detached2Garage6Parking {
  color: #0f1c35;
  font-size: 16px;
  line-height: 16px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 69.375%;
  right: 18.9583%;
  top: 72.6154%;
  bottom: 26.1538%;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle24834 {
  position: absolute;
  left: 682px;
  top: 976px;
  width: 874px;
  max-width: 100%;
  height: 1px;
  max-height: 100%;
  border-radius: 8px;
  background-color: #555b6726;
}
.buildingAge {
  color: #555b67;
  font-size: 16px;
  line-height: 16px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 35.5208%;
  right: 59.5833%;
  top: 65.0769%;
  bottom: 33.6923%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._5Year {
  color: #0f1c35;
  font-size: 16px;
  line-height: 16px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 78.6458%;
  right: 18.9583%;
  top: 65.0769%;
  bottom: 33.6923%;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle24835 {
  position: absolute;
  left: 682px;
  top: 878px;
  width: 874px;
  max-width: 100%;
  height: 1px;
  max-height: 100%;
  border-radius: 8px;
  background-color: #555b6726;
}
.type {
  color: #555b67;
  font-size: 16px;
  line-height: 16px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 35.5208%;
  right: 62.6042%;
  top: 61.3077%;
  bottom: 37.4615%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.singleFamily {
  color: #0f1c35;
  font-size: 16px;
  line-height: 16px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 75.7292%;
  right: 18.9583%;
  top: 61.3077%;
  bottom: 37.4615%;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle24836 {
  position: absolute;
  left: 682px;
  top: 829px;
  width: 874px;
  max-width: 100%;
  height: 1px;
  max-height: 100%;
  border-radius: 8px;
  background-color: #555b6726;
}
.tax {
  color: #555b67;
  font-size: 16px;
  line-height: 16px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 35.5208%;
  right: 63.125%;
  top: 57.5385%;
  bottom: 41.2308%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._13402022 {
  color: #0f1c35;
  font-size: 16px;
  line-height: 16px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 75.8854%;
  right: 18.9583%;
  top: 57.5385%;
  bottom: 41.2308%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle24837 {
  position: absolute;
  left: 682px;
  top: 780px;
  width: 874px;
  max-width: 100%;
  height: 1px;
  max-height: 100%;
  border-radius: 8px;
  background-color: #555b6726;
}
.basement {
  color: #555b67;
  font-size: 16px;
  line-height: 16px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 35.5208%;
  right: 60.5729%;
  top: 76.3846%;
  bottom: 22.3846%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unfinished {
  color: #0f1c35;
  font-size: 16px;
  line-height: 16px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 76.9792%;
  right: 18.9583%;
  top: 76.3846%;
  bottom: 22.3846%;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle24838 {
  position: absolute;
  left: 682px;
  top: 1025px;
  width: 874px;
  max-width: 100%;
  height: 1px;
  max-height: 100%;
  border-radius: 8px;
  background-color: #555b6726;
}
.description {
  color: #0f1c35;
  font-size: 18px;
  line-height: 24px;
  font-family: Gilroy-Medium, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 35.5208%;
  right: 59.5833%;
  top: 88.3077%;
  bottom: 9.8462%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.loremIpsumDolorSitAmetConsecte2 {
  position: absolute;
  left: 35.5208%;
  right: 18.9583%;
  top: 90.7692%;
  bottom: 5.5385%;
  height: min-content;
  flex-direction: column;
}
.labelWrapper3 {
  font-size: 14px;
  font-family: Gilroy-Medium, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label5 {
  color: #555b67;
  font-size: 14px;
  line-height: 24px;
  font-family: Gilroy-Medium, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label6 {
  color: #2e63f6;
  font-size: 14px;
  line-height: 24px;
  font-family: Gilroy-SemiBold, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.rectangle2481 {
  position: absolute;
  left: 658px;
  top: 634px;
  width: 922px;
  max-width: 100%;
  height: 1px;
  max-height: 100%;
  border-radius: 8px;
  background-color: #555b6726;
}
.rectangle2482 {
  position: absolute;
  left: 658px;
  top: 632px;
  width: 305px;
  height: 4px;
  border-radius: 8px;
  background-color: #2e63f6;
}
._1176SqFt {
  color: #555b67;
  font-size: 16px;
  line-height: 24px;
  font-family: Gilroy-Medium, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 77.0833%;
  right: 18.9583%;
  top: 38.7692%;
  bottom: 59.3846%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
