.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  align-items: flex-start;
}
.vuesaxLinearMap {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
