.root {
  position: absolute;
  left: 0;
  right: 98.75%;
  top: 0;
  bottom: 98.1538%;
  align-items: flex-start;
}
.path4106 {
  position: absolute;
  left: 8.3333%;
  right: 8.3333%;
  top: 8.3333%;
  bottom: 8.3333%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
